@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
.nav-cart{
    width: 2%;
    height: auto;
    
}

header{
    background-image: linear-gradient(45deg, #d7d7d7, white, #d7d7d7);
}

/*      NavBar        */

.navbar{
    background-color: rgb(245, 245, 19);
    width: 100%;
    padding: 0 2%;
}
.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.rb-nav-cont{
    display: flex;
}

/*      ItemCount        */
.botones{
    display: flex;
    justify-content: space-around;
}

/*      ItemListContainer        */

.item-list-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-grid{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(auto);
    padding: 3%;
}

.item-card{
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    box-shadow: black 1px 1px 6px;
    cursor: pointer;
}
.item-card:hover{
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
}

.item-img{
    width: 45%;
}

.card-body{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;
    padding: 2%;
}

.card-title{
    font-size: 0.8rem;
}

.card-button{
    width: 100%;
}

/*      Detalles        */

.detalle-cont{
    display: flex;
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    border-radius: 25px;
    padding: 1%;
}
.det-img-cont{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-prod{
    height: 40%;
}

.detalle-texto{
    display: flex;
    flex-direction: column;
    padding: 3%;
    border: 1px solid black;
    border-radius: 25px;
    width: 30%
}
